
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Camp Pictures</h2>

<h1>Quail Hill - 12/2023</h1>


<img src="~/Content/Scouts/QuailHill122023/01.jpg" width="300px" height="200px" alt="lodge" />
<img src="~/Content/Scouts/QuailHill122023/02.jpg" width="300px" height="200px" alt="pavilion" />
<img src="~/Content/Scouts/QuailHill122023/03.jpg" width="300px" height="200px" alt="meeting area" /><br />
<img src="~/Content/Scouts/QuailHill122023/04.jpg" width="200px" height="300px" alt="bunk room 1" />
<img src="~/Content/Scouts/QuailHill122023/05.jpg" width="200px" height="300px" alt="bunk room 2" />
<img src="~/Content/Scouts/QuailHill122023/06.jpg" width="200px" height="300px" alt="bunk room 3" /><br />
<img src="~/Content/Scouts/QuailHill122023/07.jpg" width="300px" height="200px" alt="steps" />
<img src="~/Content/Scouts/QuailHill122023/08.jpg" width="200px" height="300px" alt="upstair cots" />
<img src="~/Content/Scouts/QuailHill122023/09.jpg" width="200px" height="300px" alt="upstairs small room" />
